# github CMake Template
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
# command line
build
Build
# vscode
.vscode
# CLion
.idea
cmake-*
# Visual Studio
.vs
out
CMakeSettings.json
# Input/Output
Input
Output
